* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: url("../marble_background.jpeg");
    background-size: cover;
    min-width: 800px;
    margin: 0 0;
}

h1 {
    color: rgb(0, 131, 144);
    font-family: 'Permanent Marker', serif;
    text-align: center;
    font-size: 60px;
}

h1.myName {
    position: sticky;
    top: 0;
    background-color: rgb(22, 22, 22);
    padding: auto 100%;
    margin: 0 auto;
}

h2 {
    margin-left: auto;
}

p, li {
    font-size: 1em;
    
}

a {
    text-decoration: none;
}

figure.headshot {
    text-align: center;
    margin: 0 auto;
    background-color: rgb(0, 131, 144);
    padding: 0 auto;
}

figure.headshot img {
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    border: 3px rgb(22, 22, 22) solid;
}

figure.headshot figcaption {
    margin: -40px auto;
    padding: 10px;
    width: 300px;
    position: relative;
    bottom: 40px;
    background-color: white;
    opacity: 50%;
}

ul {
    margin-left: auto;
}

li.skills {
    margin-left: auto;
}

li.skills h4 {
    display: inline;
    background-color: rgb(0, 131, 144);
    padding: 3px;
    border: rgb(22, 22, 22) solid 3px;
    border-radius: 5px;
}
li.skills h4 + div {
    display: inline-block;
    opacity: 0;
    margin-left: 30%;
    transition: margin-left 500ms linear,
                opacity 500ms linear;
}
li.skills h4:hover + div {
    text-align: left;
    opacity: 1;
    margin-left: 5%;
}
li.skills p {
    display: inline-block;
    text-align: right;

}

li.experiences div {
    background-color: rgb(0, 131, 144);
    border:rgb(22, 22, 22) solid 3px;
    border-radius: 10px;
    max-width: 50em;
}

li.experiences h3, h5, p {
    margin-left: 1em;
}

li.education {
    margin-left: auto;
}

p.experienceText {
    margin-left: auto;
}