* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: url("../marble_background.jpeg");
    background-size: cover;
    min-width: 800px;
    margin: 0 0;
}

h1 {
    color: rgb(0, 131, 144);
    font-family: 'Permanent Marker', serif;
    text-align: center;
    font-size: 60px;
}

h1.myName {
    position: sticky;
    top: 0;
    background-color: rgb(22, 22, 22);
    padding: auto 100%;
    margin: 0 auto;
}

h2 {
    margin-left: auto;
}

p, li {
    font-size: 1em;
    
}

a {
    text-decoration: none;
}

figure.headshot {
    text-align: center;
    margin: 0 auto;
    background-color: rgb(0, 131, 144);
    padding: 0 auto;
}

figure.headshot img {
    display: block;
    width: 15%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 3px rgb(22, 22, 22) solid;
}

figure.headshot figcaption {
    margin: -40px auto;
    padding: 10px;
    width: 300px;
    position: relative;
    bottom: 40px;
    background-color: white;
    opacity: 50%;
}

ul {
    margin-left: auto;
}

div.skillContainer {
    max-width: 1000px;
}
div.skill {
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}
div.skill h3 {
    text-align: center;
}
div.skill p {
    text-align: justify;;
}

div.skill div.imageContainer {
    width: 50%;
    margin: 0 auto;
}

div.skill div.imageContainer img {
    max-width: 100%;
    width: 150px;
    margin-top: 0;
}

div.experienceContainer {
    max-width: 1000px;
}
div.experience {
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(0, 131, 144);
    margin: 1% 3%;
    height: 100%;
    border: rgb(22, 22, 22) solid 3px;
    border-radius: 5px;
}
div.experience h3, h5, p {
    margin-left: 0.5em;
}

div.projectsContainer {
    max-width: 1000px;
}
div.project {
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(0, 131, 144);
    margin: 1% 3%;
    height: 100%;
    border: rgb(22, 22, 22) solid 3px;
    border-radius: 5px;
}
div.project h3, h5, p {
    margin-left: 0.5em;
}

div.educationContainer {
    max-width: 1000px;
}
div.education {
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(0, 131, 144);
    margin: 1% 3%;
    height: 100%;
    border: rgb(22, 22, 22) solid 3px;
    border-radius: 5px;
}
div.education h3, h5, p {
    margin-left: 0.5em;
}